@import "tailwindcss";


@theme {
  --color-primary: #31E981;
  --color-secondary: #082D0F;
  --color-accent: #FF8552;
  --color-neutral: #32525D;
  --color-background-: #084887;
}

.sky-bg{
  background-image: url('/src/assets/svg/cccloud.svg');
  background-repeat: repeat;
  background-size: 200px;
  background-position: top;
  opacity: 0.4;
}

@media (max-width: 768px) {
  .sky-bg {
    background-size: 100px;
  }
  
}

.stars-bg{
  background-image: url('/src/assets/svg/rrrainbow.svg');
  background-repeat: repeat;
  background-size: 800px;
  background-position: center;
  opacity: 0.4;
}

.bg-fade-center {
  mask-image: 
    radial-gradient(ellipse at center, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 95%),
    linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: 
    radial-gradient(ellipse at center, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 95%),
    linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}

.bg-fade-top {
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%);
}

.border-gradient {
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #31E981, #AE8ABC) 1;
}