---
import Tecs from '@components/Tecs.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<img src="/src/assets/images/foto_carlos.webp" alt="Imagen Carlos Moreno" class="hero-image" />
	<h1>Carlos Moreno</h1>
	<p>Desarrollador web con experiencia en proyectos de frontend y backend.</p>
	<section id="about">
		<h2>About Me</h2>
		<p>Hola, soy Carlos Moreno, un apasionado del desarrollo web. Me especializo en crear aplicaciones web modernas y eficientes.</p>
		<Tecs />
	</section>
</Layout>
