---
import Tecs from '@components/Tecs.astro';
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import fotoCarlos from '../assets/images/foto_carlos.webp';
---


<Layout>
  <main class="bg-black text-white min-h-screen">
	<div class="flex flex-col items-center p-4 pt-20">
		<div class="flex items-center gap-6 mb-6">
			<Image src={fotoCarlos} alt="Imagen Carlos Moreno" class:list="w-72 h-72 rounded-full object-cover border-4 border-gray-300 shadow-lg" />
			<div>
				<h1 class="text-3xl font-bold">Carlos Moreno</h1>
				<p class="text-lg text-gray-400">Desarrollador web con experiencia en proyectos de frontend y backend.</p>
			</div>
		</div>
	</div>
  <section id="about" class="flex flex-col items-center p-8 gap-8">
	<h2 class="text-2xl font-semibold mb-2">Sobre Mi</h2>
	<p class="max-w-2xl text-base md:text-lg text-gray-300 leading-relaxed text-center bg-neutral-800 rounded-xl p-4 shadow-md border border-neutral-700">
	  Soy un <span class="font-semibold text-blue-400">desarrollador junior</span> con experiencia en el desarrollo de <span class="font-semibold text-green-400">APIs REST</span> con Node.js y Express, y aplicaciones móviles en Android usando <span class="font-semibold text-purple-400">Jetpack Compose</span> y arquitectura MVVM. He trabajado con <span class="font-semibold text-yellow-400">bases de datos SQL</span>, validación de usuarios y navegación segura entre pantallas. Me enfoco en escribir <span class="font-semibold text-pink-400">código limpio</span>, aprender rápido y aportar soluciones funcionales tanto en frontend como en backend.
	</p>
	<Tecs />
  </section>
  </main>
</Layout>
