---
import AboutMe from '@components/AboutMe.astro';
import Hero from '@sections/Hero.astro';
import SectionContainer from '@components/SectionContainer.astro';
import TitleSection from '@components/TitleSection.astro';
import Layout from '@layouts/Layout.astro';
import Projects from '@components/Projects.astro';
import Experience from '@components/Experience.astro';
import Tecs from '@/components/Tecs.astro';
---


<Layout>
  <main class=" text-white min-h-screen">
	<SectionContainer>
		<Hero>
			</slot>
		</Hero>
	</SectionContainer>
	<div class="space-y-10">
	<SectionContainer>
		<TitleSection>Experiencia</TitleSection>
		<Experience />
	</SectionContainer>
	<div class="space-y-10">
	<SectionContainer>
		<TitleSection>Proyectos</TitleSection>
		<Projects />
	</SectionContainer>
	<SectionContainer>
		<TitleSection>Acerca de Mi</TitleSection>
		<AboutMe />
	</SectionContainer>
	<SectionContainer>
		<TitleSection>Tecnologías</TitleSection>
		<Tecs />
	</SectionContainer>
  </main>
</Layout>