---
import AboutMe from '@components/AboutMe.astro';
import Hero from '@sections/Hero.astro';
import SectionContainer from '@components/SectionContainer.astro';
import TitleSection from '@components/TitleSection.astro';
import Layout from '@layouts/Layout.astro';
import Projects from '@components/Projects.astro';
import Experience from '@components/Experience.astro';
import Tecs from '@/components/Tecs.astro';
---


<Layout>
  <main class="relative z-10 text-white">
	<SectionContainer>
		<Hero>
			</slot>
		</Hero>
	</SectionContainer>
	<SectionContainer id="experience">
		<TitleSection>Experiencia</TitleSection>
		<Experience />
	</SectionContainer>
	<SectionContainer id="projects">
		<TitleSection>Proyectos</TitleSection>
		<Projects />
	</SectionContainer>
	<SectionContainer id="about">
		<TitleSection>Acerca de Mi</TitleSection>
		<AboutMe />
	</SectionContainer>
	<SectionContainer>
		<TitleSection>Tecnologías</TitleSection>
		<Tecs />
	</SectionContainer>
	<div class="bg-[url('/ciudad.webp')] w-full h-[300px] z-10"></div>
  </main>
</Layout>