---
import Tecs from "./Tecs.astro"
---



<h2 class="text-2xl font-semibold mb-2 text-primary">Sobre Mi</h2>
<p class="max-w-2xl text-base md:text-lg text-gray-300 leading-relaxed text-center bg-neutral-800 rounded-xl p-4 shadow-md border border-neutral-700">
    Soy un desarrollador con<span class="font-semibold text-accent"> 1 año</span> de experiencia en el desarrollo de <span class="font-semibold text-accent">APIs REST</span> con Node.js y Express, y aplicaciones móviles en Android usando Jetpack Compose y arquitectura MVVM. He trabajado con <span class="font-semibold text-accent">bases de datos SQL</span>, validación de usuarios y navegación segura entre pantallas. Me enfoco en escribir <span class="font-semibold text-accent">código limpio</span>, aprender rápido y aportar soluciones funcionales tanto en frontend como en backend.
</p>
<Tecs />