---
import foto from '@assets/images/foto_aboutme.webp';
import Image from 'astro/components/Image.astro';
---


<div class="flex justify-center items-center">
    <div class="text-left">
        <p class="max-w-2xl text-base md:text-lg text-gray-300 rounded-xl p-4">
        ¡Hola! Soy Carlos Moreno, desarrollador de software con experiencia en la creación de <strong class="text-accent">soluciones web, móviles y APIs.</strong> He trabajado tanto en proyectos empresariales como independientes, lo que me ha permitido combinar la visión técnica con la necesidad real de los usuarios. <strong class="text-accent">Me especializo en el desarrollo backend</strong>, integración de sistemas y diseño de aplicaciones móviles Android, aplicando buenas prácticas, arquitectura limpia y un enfoque en la calidad del producto final.
        </p>
    </div>
    <Image src={foto} alt="Foto de Carlos Moreno" class="w-64 h-64 -rotate-4 object-cover border-4 mt-12 border-gray-700 shadow-lg ml-8" />
</div>