---
const { id } = Astro.props;
---

<section
    id={id},
    data-section={id}
    class={`section scroll-m-20 w-full px-4 pt-16 mx-auto container md:max-w-2xl sm:max-w-xl`}
>
    <slot />
</section>