---
const { title, description, link } = Astro.props;
---


<div class="tec-card">
    <h3 class="tec-title">{title}</h3>
    <p class="tec-description">{description}</p>
    <a href={link} class="tec-link">Learn More</a>
</div>
