---
const { title, image } = Astro.props;
---

<div class="w-[100px] h-[100px] max-w-[100px] max-h-[150px] flex flex-col items-center justify-center text-white p-2 overflow-hidden">
  <img src={image} alt={`Imagen de ${title}`} class="w-20 h-20 object-contain mb-2" />
</div>
