
<div class="bg-gray-900 text-white p-4 flex flex-col items-center">
    <p>2025 - Carlos Moreno</p>
    <nav>
    <ul class="flex space-x-4 mt-2">
        <li><a href="/contact">Contact Me</a></li>
    </ul>
    </nav>
</div>